<% include partials/header  %>
<% include partials/navigation %>
    <main class="main">

        <% if (albums.length > 0) { %> 
            <section class="albums">
                <h1 class="albums__title">Albums</h1>
                <ul class="albums__list flex flex--row">
                    <li class="albums__item">
                        <a href="#" class="albums__link">
                            All
                            <span class="albums__slider"></span>
                        </a>
                    </li>
                    <% 
                    albums.forEach( (album) => { 
                    %>
                    <li class="albums__item">
                        <a href="/albums/<%= album.id %>" class="albums__link">
                            <%= album.title %>
                            <span class="albums__slider"></span>
                        </a>
                    </li>
                    <% 
                    }); 
                    %>
                </ul>

                <div class="albums__select">
                    <div class="form__group">
                        <select name="" id="" class="form__control">
                            <option value="0">All</option>
                            <% 
                            albums.forEach( (album) => {
                            %>
                            <option value="<%= album.id %>"><%= album.title %></option>
                            <% 
                            }); 
                            %>
                        </select>
                    </div>
                </div>
            </section>
        <% } %>

        <section class="gallery grid grid--gallery grid--gap-1">
            <% images.forEach( (image) => { %>
                <div class="gallery__item">
                    <article class="gallery-image flex flex--row flex--wrap">
                        <a href="/gallery/image/<%= image.image_id %>">
                            <img class="gallery-image__img lazy" src="/img/blurred_image.jpg" data-src="<%= image.src %>" alt="<%= image.image_description %>">
                        </a>
                        <h2 class="gallery-image__title"><%= image.image_title %> - <span class="gallery-image__album"><%= image.image_album %></span></h2>
                    </article>
                </div>
            <% }); %>
        </section>
    </main>

    <script src="/assets/yall/yall-2.2.1.min.js"></script>
    <script>
        // Lazy load images
        document.addEventListener('DOMContentLoaded', () => {
            yall({
                observeChanges: true
            });
        });
    </script>
<% include partials/footer  %>
<% include partials/script-dependencies %>
<% include partials/ending-tags  %>